.page::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("../assets/aditya-vyas-PzhmEp_aDU4-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  filter: blur(5px);
  transform: scale(1.1); /* evita bordes blancos */
  z-index: 0;
}

.page::after {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.30); /* controla la oscuridad */
  z-index: 1;
}

/* Contenido encima */
.page > * {
  position: relative;
  z-index: 10;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}

